hr.solid {
  border-top: 3px solid #bbb;
  margin-right: 30px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.unit {
  color: red;
}

.unit-price {
  color: rgb(165, 133, 123);
}

.total-price {
  color: rgb(138, 103, 94);
}

#right {
  text-align: right;
  margin-right: 30px;
}

.close-button {
  border-radius: 50%;
}

#left {
  text-align: left;
}
