#page-content {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

#list {
  flex: 1 1 900px;
  min-width: 400px;
  box-sizing: border-box;
}

#cart {
  flex: 1 1 400px;
  min-width: 0;
  box-sizing: border-box;
  margin-top: 50px;
}
